html{
    height: 100%;
}

img{
    margin: 0rem 4rem 0rem 4rem;
    width: 70%;
    max-width: 700px;
    border: 4px solid #000;
    text-align: center;
    background-color: #000;
}

figure{
    padding-right: 3rem;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.dateien {
    max-width: 100px;
    max-height: 300px;
}

h1 {
   margin-bottom: 0;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 0em 0em 0em 0em;
}

h2{
    margin-top: 0;
    text-align: center;
    font-weight: 200;
    padding: 0;
}

.littletoolh2 {
    margin-top: 1rem;
    font-size: 26px;
    font-weight: 600;
}

p{
    margin-left: 10px;
    margin-right: 10px;
}

.Bildunterschrift{
    margin: 0rem 4rem;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 70%;
    max-width: 700px;
    color: white;
    font-size: 14px;
    background-color: #000;
    border: 4px solid #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: justify;
}

ul{
    list-style-type: circle;
    padding: 0em 0em 0em 1em;
}

ol{
    list-style-type: decimal;
    padding: 0em 0em 0em 1em;
}

li {
    padding: 1em 0em 0em 0.25em;
}

.willkommenprojekte {
    list-style-type: none;
    margin: 3px 7px;
    font-weight: bolder;
    background-color: darkgray;
}

.liprojekte {
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    text-align: center;
    box-shadow: #000 0px 0px 5px ;
    border: 2px solid #fff;
}

.aprojekte {
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease;
    -webkit-column-width: 40rem;
    column-width: 40rem;
}

.liprojekte:hover {
    background-color: gray;
}

.mail{
    margin: 10px;
    text-decoration: none;
    color: dimgray;
    font-weight: 600;
}

.mail:hover {
    color: lightskyblue;
}

nav{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav_logo{
    margin: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}
nav ul{
    display: flex;
}
nav ul .liindex{
    height: 100%;
    padding: 30px;
    list-style-type: none;
    border-bottom: 4px solid #000;
}
nav ul li:hover{
    border-bottom: 4px solid white;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
}

.toggle-button{
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}

.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

@media(max-width:750px){
    .list-container{
        display: none;
        width: 100%;
    }
    .toggle-button{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul{
        flex-direction: column;
        width: 100%;
    }
    .list-container li{
        text-align: center;
    }

    .list-container.active{
        display: flex;
    }
}

.aindex{
    text-decoration: none;
    color: rosybrown;
}

a:active{
    color: darkgray;
}

.ulindex {
    padding: 0rem 2rem;
}

strong{
    text-decoration: underline;
}

.hervorhebungtext {
    text-decoration: none;
}

article {
    padding: 1em;
}

details{
    padding: 10px;
    margin: auto;
}

summary {
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 800;
}

summary:hover{
    color: lightskyblue;
}

.detaileinzug{
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: rgb(58, 58, 58);
}

.perspdateien {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.perspdateien:hover {
    box-shadow: #000 0px 0px 5px;
}

.dateiimgfloat {
    float: left;
}

.cf::after {
    content: " ";
    display: block;
    clear: both;
}

.readmeol {
    margin-left: 1rem;
}

.readme {
    padding: 0em;
}

.github {
    color: #fff;
    margin: 0%;
    padding: 0%;
    background-color: #000;
    border: 10px solid #000;
}

#githubimg {
    border: 4px solid #fff;
}

#githubfig {
    color: #000;
    background-color: #fff;
    border: 4px solid #fff;
}

.githubdesktop {
    color: #000;
    margin: 0%;
    padding: 0%;
    background-color: #fff;
    border: 10px solid #fff;
    top: 20px;
}

#gitdeskfig {
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: 4px solid #000;
}

.vscode {
    color: #fff;
    margin: 0%;
    padding: 0%;
    background-color: #000;
    border: 10px solid #000;
}

.netlify {
    color: #000;
    margin: 0%;
    padding: 0%;
    background-color: #fff;
    border: 10px solid #fff;
}

#netlifyimg{
    border: 4px solid #000;
}

#netlifyfig{
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: 4px solid #000;
}

.Code {
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    background-color: rgb(191, 230, 253);
    border: 1px solid #000;
}

.endsatz {
    border: 3px double gray;
    text-align: center;
    padding: 10px
}

.javascriptcode {
    padding: 10px;
}

.codedefinition {
    text-align: center;
    background-color: rgb(125, 158, 168);
    border: 10px solid rgb(125, 158, 168);
}

.azulittletools {
    text-decoration: none;
    color: dimgrey;
    font-weight: 600;
}
.azulittletools:hover {
    color: lightskyblue;
}

.aufzählunguncle {
    margin-top: 5px;
    margin-left: 0.5rem;
    padding-left: 5px;
}

.nächstseite {
    padding-bottom: 80px;
}

footer {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}